@model IEnumerable<ManageStock.Models.Produit>

@{
    ViewData["Title"] = "Produits";
}

<h4>Liste des Produits </h4>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter +</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixUnitaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeuilAlerte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategorieNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFournisseurNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixUnitaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeuilAlerte)
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.IdCategorieNavigation.Nom)
               
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.IdFournisseurNavigation.Nom)
           
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.IdProduit" class="btn btn-info">Détail</a>
                    <a asp-action="Edit" asp-route-id="@item.IdProduit" class="btn btn-warning">Modif.</a>
                    <a asp-action="Delete" asp-route-id="@item.IdProduit" class="btn btn-danger">Suppr.</a>
            </td>
        </tr>
}
    </tbody>
</table>
