@model IEnumerable<ManageStock.Models.Entreestock>

@{
    ViewData["Title"] = "Entrées de stock";
}

<h4>Liste des Entrées de stock </h4>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter +</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateEntree)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.IdProduitNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantité)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFournisseurNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEntrepotNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEntree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProduitNavigation.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantité)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdFournisseurNavigation.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEntrepotNavigation.Nom)
                </td>
            
            
            <td align="right">
               
                    <a asp-action="Details" asp-route-id="@item.IdEntree" class="btn btn-info">Détail</a>
                    <a asp-action="Edit" asp-route-id="@item.IdEntree" class="btn btn-warning">Modif.</a>
                    <a asp-action="Delete" asp-route-id="@item.IdEntree" class="btn btn-danger">Suppr.</a>
            </td>
        </tr>
}
    </tbody>
</table>
