@model IEnumerable<ManageStock.Models.Inventaire>

@{
    ViewData["Title"] = "Inventaire";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h4>Liste des Inventaires </h4>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter +</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateInventaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEntrepotNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateInventaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEntrepotNavigation.Nom)
            </td>
            <td align="right">
                    <a asp-action="Details" asp-route-id="@item.IdInventaire" class="btn btn-info">Détail</a>
                    <a asp-action="Edit" asp-route-id="@item.IdInventaire" class="btn btn-warning">Modif.</a>
                    <a asp-action="Delete" asp-route-id="@item.IdInventaire" class="btn btn-danger">Suppr.</a>      
            </td>
        </tr>
}
    </tbody>
</table>
